/* declaring variables for ease of use and clean code */
:root{
    --background-color: beige;
    --accent-color: #d4bc4d;
    --tertiary-color: #8c66d2;
    --focus-color: darkblue;
    --border-radius: 20px;
}
/* Grouping all common traits between elements, easier to make global changes. Same goes for the variables in root. */
 body, nav, main, section, article, p{
    display: flex;
    flex-wrap: wrap;
} 
main, section, article{
    position: relative;
    border: 5px groove var(--tertiary-color);
    border-radius: var(--border-radius);
}
/* makes the first picture of projects larger */
.headliner{
    width: 60%;
}
/* this section is not displayed until checkbox is checked */
.readMore{
    display: none;
}
#checkbox, label{
    margin: 5px;
}
#checkbox:checked + label + .readMore{
    display: block;
}
/* other project pictures display smaller */
.projPic{
    width: 40%;
}
/* class to contain my navigation elements */
.separate{
    background-color: rgb(140, 102, 210, 0.75);
    flex-direction: column;
    display: flex;
    position: fixed;
    top:8px;
    height: auto;
    padding: 5px;
    left:10px;
    border: 3px solid black;
    border-radius: var(--border-radius);
}
/* sets rules for the whole body */
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--background-color);
    font-size: large;
}
/* sets rules for the header */
header{
    text-align: center;
    padding: 20px;
    background-color: var(--accent-color);
    width: 100%;
}
/* sets nav to a column format */
nav{
    flex-direction: column;
    width: 100%;
}

nav a{
    padding: 10px;
    color: black;
}
/* when hovering over nav element the color will change */
nav a:hover{
    background-color:burlywood;
}
/* container for sections */
main{
    margin: 50px;
    width:80%;
    left: 10%; 
    max-height: 1000px; 
}
/* each section within the main element or "About Me" section */
main section{
    border-color: var(--accent-color);
    min-width: 75%;
    margin: 20px;
    height: auto;
}
/* changes the border color of the section that you have focused on to indicate where you are */
section:target{
    border-color: var(--focus-color);
}

main section img{
    display: block;
    margin: 0;
    width: 500px;
    padding: 10px;
    max-width: 80%;
    max-height:400px;

}

article ul img{
    max-width: 50%;
    max-height: 50%;
}

main section p{
    flex: 5;
    margin: 10px;
}
/* Sets the "About Me" header to sir on top of the image */
main section h2{
    position: absolute;
    top: 10px; 
    left: 10px;
    margin: 0;
}

article, #Contact{
    margin: 50px;
    left:10%;
    width:80%;
    text-align: center;
    justify-content: space-around; 
}

article:target{
    border-color: var(--focus-color);
}
/* sets the images within the "project" section to have a border */
article img{
    border: 5px groove var(--accent-color);
    border-radius: var(--border-radius);
}
/* when the user hovers over the image the border changes to inform the user it is a clickable link */
article img:hover{
    border: 10px groove var(--tertiary-color);
}
/* changes elements font size and margin to accomadate a smaller screen */
@media screen and (max-width: 768px){
    body{
        font-size: small;
    }
    main, body, article, section, #Contact{
        margin:0;
    }

}

